/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 244, 245);
  }
  
  header {

    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    width: 150px;
  cursor: pointer;/* Adjust size as needed */
  }
  
  .utility {
    display: flex;
    gap: 45px;
    list-style: none;
  }
  
  .utility li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .signup-container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select,
  textarea,
  input[type="number"],
  input[type="file"],
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  select {
    cursor: pointer;
  }
  
  textarea {
    resize: none;
  }
  
  input[type="submit"] {
    background-color:green;
    color: #fff;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  